# Lists and its default functions

In [2]:
#creating list
l=["x,y,z",12,123.8,[1,2,3]]
l1=[1,2,3,4,5]
l2=[6,7,8,9,0]
print(l)
print(l1)
print(l2)

['x,y,z', 12, 123.8, [1, 2, 3]]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 0]

In [ ]:
#DEFAULT FUNCTIONS OF LIST
#append,count,delete,pop,clear

In [3]:
#APPEND
l.append("dove")
print(l)

['x,y,z', 12, 123.8, [1, 2, 3], 'dove']

In [4]:
#COUNT
l.count("dove")

1

In [2]:
l=["x,y,z",12,123.8,[1,2,3]]
l1=[1,2,3,4,5]
l2=[6,7,8,9,0]
print(l)
print(l1)
print(l2)
#REVERSE
l.reverse()
print(l)

['x,y,z', 12, 123.8, [1, 2, 3]]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 0]
[[1, 2, 3], 123.8, 12, 'x,y,z']

In [5]:
#POP
l.pop(0)
print(l)

[123.8, 12, 'x,y,z']

In [10]:
#INSERT
l.insert(0,"x,y,z")
print(l)

['x,y,z', 'x,y,z', 123.8, 12, 'x,y,z']

In [11]:
#CLEAR
l.clear()
print(l)

[]

# Dictionary and its default functions

In [12]:
d={"name":"sam","age":"19","number":"1234567890"}
print(d)

{'name': 'sam', 'age': '19', 'number': '1234567890'}

In [ ]:
#DEFAULT FUNCTIONS OF DICTIONARY
#items,popitem,keys,values,clear

In [13]:
#ITEMS
d.items()

dict_items([('name', 'sam'), ('age', '19'), ('number', '1234567890')])

In [14]:
#POPITEM
d.popitem()

('number', '1234567890')

In [15]:
#KEYS
d.keys()

dict_keys(['name', 'age'])

In [16]:
#VALUES
d.values()

dict_values(['sam', '19'])

In [19]:
#CLEAR
d.clear()
print()

# String and its default functions

In [21]:
st="hello WORLD"
print(st)

hello WORLD

In [22]:
#DEFAULT FUNCTIONS OF STRINGS
#lower,upper,capitalize,find,count

In [23]:
#LOWER
st.lower()

'hello world'

In [24]:
#UPPER
st.upper()

'HELLO WORLD'

In [25]:
#CAPITALIZE
"this is a string".capitalize()

'This is a string'

In [30]:
#FIND
st.find("D")

10

In [31]:
#COUNT
st.count("l")

2

# Sets and its default functions

In [32]:
s={1,2,3,4,5,6,7,8}
print(s)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
#DEFAULT FUNCTIONS OF SETS
#add,pop,subset,remove,union

In [34]:
#add
s.add(9)
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [35]:
#pop
print(s.pop())

1

In [38]:
#subset
s={1,2,3,4,5,6,7,8}
s1={1,2}
s1.issubset(s)

True

In [45]:
#REMOVE
s.remove(1)
print(s)

{2, 3, 4, 5, 6, 7, 8}

In [50]:
#UNION
s.union(s1)

{1, 2, 3, 4, 5, 6, 7, 8}

# Tuple and its default values

In [ ]:
#DEFAULT VALUES OF TUPLE
#count,index

In [51]:
t=(1,2,3,"xyz",[4,5,6],(8,9,0))
print(t)

(1, 2, 3, 'xyz', [4, 5, 6], (8, 9, 0))

In [54]:
t.count("xyz")

1

In [57]:
print(t.index([4,5,6]))

4